@model IEnumerable<PatientModel>

<h1>Patients Management</h1>
<div class="mb-3">
    <a asp-controller="Admin" asp-action="Index" asp-route-filter="doctors" class="btn btn-secondary">View Doctors</a>
    <a asp-controller="Patients" asp-action="Create" class="btn btn-primary">Add New Patient</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@(item.User?.FirstName + " " + item.User?.LastName)</td>
            <td>@item.age</td>
            <td>@item.email</td>
            <td>
                <a asp-controller="Patients" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-controller="Patients" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>